{% if team is empty %}
    <div class="alert alert-danger mt-4">
        找不到该 ID 的团队。
    </div>
{% else %}

    <div class="row">
        <div class="col-lg-{{ size | default(4) }}">
            <table class="table table-sm table-striped">
                <tr>
                    <th>名称</th>
                    <td>{{ team.effectiveName }}</td>
                </tr>
                <tr>
                    <th>类别</th>
                    <td>{{ team.category.name }}</td>
                </tr>
                {% if team.publicdescription is not empty %}
                    <tr>
                        <th>描述</th>
                        <td>{{ team.publicdescription | nl2br }}</td>
                    </tr>
                {% endif %}
                {% if showAffiliations and team.affiliation is not empty %}
                    <tr>
                        <th>所属机构</th>
                        <td>
                        {% set affiliationId = team.affiliation.affilid %}
                        {% if showExternalId(team.affiliation) %}
                            {% set affiliationId = team.affiliation.externalid %}
                        {% endif %}
                        {% set affiliationLogo = affiliationId | assetPath('affiliation') %}
                        {% if affiliationLogo %}
                            <img src="{{ asset(affiliationLogo) }}" alt="{{ team.affiliation.shortname }}"
                                 title="{{ team.affiliation.shortname }}" class="affiliation-logo">
                        {% endif %}
{{ team.affiliation.name }}</td>
                    </tr>
                    {% if showFlags and team.affiliation.country is not empty %}
                        <tr>
                            <th>国家</th>
                            <td>
                                {{ team.affiliation.country | countryFlag(true) }}
                            </td>
                        </tr>
                    {% endif %}
                {% endif %}
                {% if team.location is not empty %}
                    <tr>
                        <th>位置</th>
                        <td>{{ team.location }}</td>
                    </tr>
                {% endif %}
            </table>
        </div>
    {% set teamId = team.teamid %}
    {% if showExternalId(team) %}
        {% set teamId = team.externalid %}
    {% endif %}
    {% set teamImage = teamId | assetPath('team') %}
    {% if teamImage %}
        <div class="col-lg-{{ size | default(4) }}">
        <img loading="lazy" class="teampicture" src="{{ asset(teamImage) }}" alt="队伍 {{ team.effectiveName }} 的相片"
             title="队伍 {{ team.effectiveName }} 的相片">
        </div>
    {% endif %}
    </div>
{% endif %}
