{% extends "base.html.twig" %}

{% block title %}DOMjudge 登录{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{{ asset('style_login.css') }}">
{% endblock %}

{% block messages %}{% endblock %}
{% block body %}
<main>
    {% set hasaltmethods =
        ("xheaders" in allowed_authmethods and auth_xheaders_present) or
        ("ipaddress" in allowed_authmethods and auth_ipaddress_users|length > 0) %}
    {% set showregular = not hasaltmethods or error %}

    <div class="form-signin" id="loginform">
        <img class="mb-4" src="{{ asset('images/DOMjudgelogo.svg') }}" alt="DOMjudge" width="72">
        {% include 'partials/messages.html.twig' %}
        {% if app.user is not null %}
            {% set message = '您当前已自动登录为 ' ~ app.user.username ~ '。请使用下面的表单更改登录信息。' %}
            {% include 'partials/alert.html.twig' with {type: 'success'} %}
        {% endif %}

        <br class="clearfix">

        {% if hasaltmethods %}
            <div class="additional-logins me-2">
                <a class="float-end text-muted" href="#" title="更多认证方式"
                   onclick="collapse('.regularLoginform'); return false;" role="button">
                    <i class="fas fa-user-ninja"></i>
                </a>
                {% if "xheaders" in allowed_authmethods and auth_xheaders_present %}
                    <h1 class="h3 mb-3 fw-normal">预配置登录</h1>
                    <form action="{{ path('login') }}" method="post">
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}">
                        <input type="hidden" name="_username" value="__INVALID__">
                        <div class="login-content">
                            <p>
                                您可以使用管理员配置的凭据进行登录。
                            </p>
                        </div>
                        <button class="mt-auto btn btn-lg btn-success w-100" type="submit"
                                name="loginmethod" value="xheaders">
                            使用计算机凭据登录
                        </button>
                    </form>
                    <script>
                        $(function () {
                            $('button[name=loginmethod]').focus();
                        });
                    </script>
                {% endif %}

                {% if "ipaddress" in allowed_authmethods and auth_ipaddress_users|length > 0 %}
                    <h1 class="h3 mb-3 fw-normal">使用 IP 登录</h1>
                    <form action="{{ path('login') }}" method="post">
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}">
                        <input type="hidden" name="loginmethod" value="ipaddress">
                        <div class="login-content">
                            <p>
                                您可以根据 IP 地址自动登录到账户。
                                {% if auth_ipaddress_users == 1 %}与您的 IP 相关的账户如下。
                                {% else %}与您的 IP 相关的账户如下。{% endif %}
                            </p>
                        </div>

                        {% for u in auth_ipaddress_users %}
                            <button class="btn btn-lg btn-success w-100" type="submit"
                                    name="_username" value="{{ u.username }}">
                                登录为 {{ u.username }}
                            </button>
                        {% endfor %}
                    </form>
                    <script>
                        $(function () {
                            $('button[name=_username]:first').focus();
                        });
                    </script>
                {% endif %}
            </div>

            <div class="vertical-line regularLoginform{% if not showregular %} d-none{% endif %}"></div>
        {% endif %}

        <div class="main-login ms-2 regularLoginform {% if not showregular %} d-none{% endif %}">
            <h1 class="h3 mb-3 fw-normal">请登录</h1>
            <form action="{{ path('login') }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="login-content">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey }}</div>
                    {% endif %}

                    <div class="form-floating">
                        <input type="text" id="username" name="_username" class="form-control"
                               placeholder="用户名" required autofocus>
                        <label for="username">用户名</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" id="inputPassword" name="_password"
                               class="form-control" spellcheck="false"
                               placeholder="密码" required autocomplete="current-password">
                        <label for="inputPassword">密码</label>
                    </div>
                </div>
                <button class="btn btn-lg btn-primary w-100" type="submit">登录</button>
                {% if allow_registration %}
                    <div class="mt-3">
                        没有账户？<br/>
                        <a href="{{ path('register') }}">立即注册</a>。
                    </div>
                {% endif %}
            </form>
        </div>

        <p class="mt-5 mb-3 small text-muted" id="dj_version">DOMjudge {{ DOMJUDGE_VERSION }}</p>
    </div>
</main>

{% endblock %}
